<div id="chat" >
  <div id="botonChat">
    <div id="txtChat">
      Sala de chat
    </div>
  </div>
  <div id="salaChat">
    <h5 style="text-align:center">Interactua con usuarios</h5>
      <div id="areaMensajeChat">

      </div>
      <input style="width:79%; height: 50px;" type="text" id="fieldMessage">
      <button id="sendMessage" style="width: 19%;height: 50px">Enviar</button>
  </div>
</div>  